.carrousel {
  position: relative;
  border-radius: 25px;
  height: 415px;
  object-fit: fill;
  display: flex;
  align-items: center;
  background-size: cover;
}

.fa-chevron-left {
  position: absolute;

  height: 15%;
  cursor: pointer;
  left: 25px;
}

.fa-chevron-right {
  position: absolute;

  height: 15%;
  cursor: pointer;
  right: 25px;
}

/* RESPONSIVE : Version Smartphones */
@media all and (min-width: 320px) and (max-width: 768px) {
  .carrousel {
    height: 255px;
  }
}
