.star {
  width: 24.75px;
  height: 24px;
  padding-left: 20px;
}

/* RESPONSIVE : Version Smartphones */
@media all and (min-width: 320px) and (max-width: 768px) {
  .star {
    padding-left: 0;
    width: 13.41px;
    height: 13px;
  }
  .etoile {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
