.valeurs {
  margin: 0 150px 50px 150px;
}

/* RESPONSIVE : Version Smartphones */
@media all and (min-width: 320px) and (max-width: 768px) {
  .valeurs {
    margin: 0 30px 30px 30px;
    margin-bottom: 130px;
  }
}
