.menuderoulant {
  margin-bottom: 30px;
}

.titre {
  background-color: #ff6060;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.detail {
  font-weight: 400;
  color: #ff6060;
  background-color: #f6f6f6;
  padding: 10px 15px;
}

/* RESPONSIVE : Version Smartphones */
@media all and (min-width: 320px) and (max-width: 768px) {
  .titre {
    font-size: 13px;
  }
}
