header {
  height: 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  gap: 50px;
}

img {
  height: 60%;
}
a {
  color: #ff6060;
}
li:hover,
li:active {
  text-decoration: underline;
  color: #ff6060;
}

/* RESPONSIVE : Version Smartphones */
@media all and (min-width: 320px) and (max-width: 768px) {
  header {
    height: 40px;
  }
}
